.App {
  display: flex;
  background-color: #81ecec;
  flex-direction: row;
  padding-bottom: 20px;
  color: black
}

body {
  background-color: #636e72;
  height: auto;
}

a {
  color: white;
  margin: 10px;
}

button {
  height: 50px;
}

.Screenshot {
  margin-top: 160px;
  margin-left: 70px;
}

.links {
  display: flex;
  flex-direction: column;
}

.Box {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.Tweets {
  display: flex;
  width: 850px;
  margin-top: 15px;
}

.Tweet {
  margin: 10px;
}